<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./style.css">

  <title>slider prew next</title>
</head>
<body>
  <div class="wrapper" id="testim">
    <div class="wrap">

      <div class="bullets">
        <span class="arrow left"></span>
        <span class="arrow right"></span>
      </div>

      <ul class="dots" id="testim-dots">
        <li class="dot"></li>
        <li class="dot"></li>
        <li class="dot"></li>
        <!--<li class="dot"></li>
        <li class="dot"></li>
        <li class="dot"></li>-->
      </ul>

      <div class="cont" id="testim-content">
        <div class="slider">slid 1</div>
        <div class="slider">slid 2</div>
        <div class="slider">slid 3</div>
        <!--<div class="slider">slid 4</div>
        <div class="slider">slid 5</div>
        <div class="slider">slid 6</div>-->
      </div>
    </div>
  </div>

  <script src="./sliderpn.js"></script>
</body>
</html>