<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Modal</title>
  <link rel="stylesheet" href="./style.css">
</head>
<body>
  <div class="wrapper">
    <header class="header">
      <div class="header__container container">
        <a href="#" class="header__logo"></a>
        <a href="#popup" class="header__phone popup__link">Попап1</a>
      </div>
    </header>
    <div class="content">
      <div class="content__container container">
        <section class="content__section content__section_row">
          <div class="content__body">
            <h1 class="content__title">Just up</h1>
            <div class="content__text">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore, assumenda?</p>
              <p>Facilis ad nisi repudiandae sunt fugit labore cupiditate laboriosam nobis!</p>
              <p>Iste et possimus hic repudiandae laboriosam, voluptate asperiores sed accusamus!</p>
            </div>
          </div>
          <a href="#image" class="content__image popup__link">
            <img src="#" alt="Image">
          </a>
        </section>
        <section class="content__section">
          <h2 class="content__subtitle">Life are work in freedom time</h2>
          <div class="content__text">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates alias doloribus nihil asperiores?</p>
            <p>Earum nostrum repudiandae odio quas minus. Ducimus libero provident similique asperiores dignissimos quisquam!</p>
            <p>Maiores molestias, nihil nulla odio alias, vel dolore ab veritatis fugiat, ratione aliquid?</p>
            <p>Ipsa temporibus, a, aspernatur distinctio, quaerat error omnis optio sit eum eligendi quia?</p>
            <p>Quam dolor, laboriosam maxime, provident molestiae eligendi, modi reiciendis porro consectetur delectus laudantium!</p>
            <p><a href="#popup_2" class="popup__link">Popup2</a></p>
            <p>Veritatis distinctio nam eos atque assumenda dolor dolores, exercitationem mollitia tempore neque laboriosam?</p>
            <p>Tempore est repellendus voluptatem, minus delectus animi earum fugit quo aperiam consequatur? Sapiente!</p>
            <p>Alias eos ab, provident voluptatum dolorem aspernatur veniam, modi tempora numquam obcaecati quisquam.</p>
            <p>Doloribus dignissimos quibusdam cupiditate, nisi aspernatur doloremque laborum eius praesentium eos amet sequi!</p>
          </div>
        </section>
      </div>
    </div>
  </div>

  <div id="popup" class="popup">
    <div class="popup__body">
      <div class="popup__content">
        <a href="#" class="popup__close close-popup">&#215</a>
        <div class="popup__title">Modal window #1</div>
        <div class="popup__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero rerum repellat atque, voluptas aliquid voluptatibus.</div>
      </div>
    </div> 
  </div>

  <div id="popup_2" class="popup">
    <div class="popup__body">
      <div class="popup__content">
        <a href="#" class="popup__close close-popup">&#215</a>
        <div class="popup__title">Modal window #1</div>
        <div class="popup__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero rerum repellat atque, voluptas aliquid voluptatibus.</div>
      </div>
    </div> 
  </div>

  <div id="image" class="popup">
    <div class="popup__body">
      <div class="popup__content popup__content_image">
        <a href="#" class="popup__close close-popup">&#215</a>
        <div class="popup__image">
          <img src="#" alt="Image">
        </div>
      </div>
    </div> 
  </div>

  <script src="./script.js"></script>
</body>
</html>