<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tabs</title>
  <link rel="stylesheet" href="./style.css">
</head>
<body>
  <div class="tabs">
    <div class="tabs__header header-tabs">
      <div class="header-tabs__item active">Home</div>
      <div class="header-tabs__item">About</div>
      <div class="header-tabs__item">Blog</div>
      <div class="header-tabs__item">Contact us</div>
    </div>
    <div class="tabs__content content-tabs">
      <div class="content-tabs__item active">
        <h2>Home</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta maiores dolor laudantium cumque culpa at? Alias placeat aliquam laborum enim eos explicabo illo itaque earum id, cum quasi aperiam quia.</p>
      </div>
      <div class="content-tabs__item">
        <h2>About</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta maiores dolor laudantium cumque culpa at? Alias placeat aliquam laborum enim eos explicabo illo itaque earum id, cum quasi aperiam quia.</p>
      </div>
      <div class="content-tabs__item">
        <h2>Blog</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta maiores dolor laudantium cumque culpa at? Alias placeat aliquam laborum enim eos explicabo illo itaque earum id, cum quasi aperiam quia.</p>
      </div>
      <div class="content-tabs__item">
        <h2>Contact us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta maiores dolor laudantium cumque culpa at? Alias placeat aliquam laborum enim eos explicabo illo itaque earum id, cum quasi aperiam quia.</p>
      </div>
    </div>
  </div>

  <script src="./tabs.js"></script>
</body>
</html>