<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dropdown menu</title>
  <link rel="stylesheet" href="./style.css">
</head>
<body>
  <div class="container">
    <div class="dropdown">
      <button data-path="one" class="dropdown-tog">
        dropdown button
      </button>
      <ul data-target="one" class="dropdown-menu">
        <li><a href="#" class="dropdown-item">Arrow</a></li>
        <li><a href="#" class="dropdown-item">Bottom</a></li>
        <li><a href="#" class="dropdown-item">Top</a></li>
      </ul>
    </div>

    <div class="dropdown">
      <button data-path="two" class="dropdown-tog">
        dropdown button
      </button>
      <ul data-target="two" class="dropdown-menu">
        <li><a href="#" class="dropdown-item">Arrow</a></li>
        <li><a href="#" class="dropdown-item">Bottom</a></li>
        <li><a href="#" class="dropdown-item">Top</a></li>
      </ul>
    </div>
    
  </div>

  <script src="./dropdownMenu.js"></script>
</body>
</html>