<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!--<link rel="icon" href="./icons/favicon/" type="images/x-icon" >-->
  <link rel="stylesheet" href="./css/style.min.css">

  <title>Template</title>
</head>
<body>
  <div class="wrapper"> 
    <!-- sroll top -->
    <a href="#" class="scrolltop" id="scroll-top">
      <span class="scrolltop__icon">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
          <path d="M233.4 105.4c12.5-12.5 32.8-12.5 45.3 0l192 192c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L256 173.3 86.6 342.6c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3l192-192z"/>
        </svg>
      </span>
    </a>
    <!--header-->
    <header class="header" id="header">
      <div class="header__container container">
    
        <a href="#" class="header__logo">
          <img src="./icons/logo/" alt="Logo">
        </a>
        <div class="header__menu menu">
          <nav class="menu__body" id="nav-menu">
            <ul class="menu__list">
              <li class="menu__item"><a href="#" class="menu__link active-link">Home</a></li>
              <li class="menu__item"><a href="#popup" class="menu__link popup__link">What We Do</a></li>
              <li class="menu__item"><a href="#" class="menu__link">Service</a></li>
              <li class="menu__item"><a href="#" class="menu__link">Project</a></li>
            </ul>
          </nav>
          <div class="menu__burger" id="menu-toggle">
            <span></span>
          </div>
        </div>
    
      </div>
    </header>
    <!--main-->
    <main class="page">
      <section class="page__hero hero">
        <div class="hero__container container">
        </div>
      </section>

    </main>
    <!--footer-->
    <footer class="footer">
      <div class="footer__container container">
    
      </div>
    </footer>
  </div>

  <div id="popup" class="popup">
    <div class="popup__body">
      <div class="popup__content">
        <a href="#" class="popup__close close-popup">&#215</a>
        <div class="popup__title">Modal window #1</div>
        <div class="popup__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero rerum repellat atque, voluptas aliquid voluptatibus.</div>
      </div>
    </div> 
  </div>

  
  <script src="./js/script.min.js" ></script>
</body>
</html>