<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Accordion</title>
  <link rel="stylesheet" href="./style.css">
</head>
<body>
  <section class="accordion container">
    <div class="accordion__body">
      <div class="accordion__item">
        <button class="accordion__header">
          <h3 class="accordion__title">Accordion one title</h3>
          <span class="accordion__icon"></span>
        </button>
        <div class="accordion__content">
          <p class="accordion__description">Accordion one Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, qui repellendus amet doloremque vitae eligendi dolorem id non, nulla minus consequatur commodi, ipsam modi cupiditate suscipit necessitatibus veniam dolores itaque.</p>
        </div>
      </div>
      <div class="accordion__item">
        <button class="accordion__header">
          <h3 class="accordion__title">Accordion two title</h3>
          <span class="accordion__icon"></span>
        </button>
        <div class="accordion__content">
          <p class="accordion__description">Accordion two Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, qui repellendus amet doloremque vitae eligendi dolorem id non, nulla minus consequatur commodi, ipsam modi cupiditate suscipit necessitatibus veniam dolores itaque.</p>
        </div>
      </div>

      <div class="accordion__item">
        <button class="accordion__header">
          <h3 class="accordion__title">Accordion three title</h3>
          <span class="accordion__icon"></span>
        </button>
        <div class="accordion__content">
          <p class="accordion__description">Accordion three Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, qui repellendus amet doloremque vitae eligendi dolorem id non, nulla minus consequatur commodi, ipsam modi cupiditate suscipit necessitatibus veniam dolores itaque.</p>
        </div>
      </div>

      <div class="accordion__item">
        <button class="accordion__header">
          <h3 class="accordion__title">Accordion three foure</h3>
          <span class="accordion__icon"></span>
        </button>
        <div class="accordion__content">
          <p class="accordion__description">Accordion foure Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, qui repellendus amet doloremque vitae eligendi dolorem id non, nulla minus consequatur commodi, ipsam modi cupiditate suscipit necessitatibus veniam dolores itaque.</p>
        </div>
      </div>

    </div>
  </section>

  <script src="./accordion.js" ></script>
</body>
</html>